<launch>

  <node name="tool_frame_publish" pkg="tf" type="static_transform_publisher" args="-.0255 0 .125 0 0 0 left_hand pokey_stick 100"/>

  <!-- args="x y z yaw pitch roll frame_id child_frame_id  period" -->

  <!-- Mapper node. -->
  <node name="frame_align"
        pkg="jenga_movement"
        type="frame_align.py"
        output="screen"
        args="aruco_tag_0 pokey_stick left_hand">

  <!-- args="tag_frame tool_frame hand_frame" -->
  </node>
</launch>
